*.json
*.txt
*.asm
*.o
*.req
*.rsp
*.pyc
vgcore.*
*.log
*/bench_fft
ref-fft
avx2_fft
neon-fft
neon-512/test_fpr
neon-512/test_log2
neon-512/test_sampler
neon-512/test_log1
ref-fpu-512/build/
neon-fpu-512/build/*
neon-fpu-512/test_common
neon-fpu-512/test_fpr
neon-fpu-512/test_ntt
neon-fpu-512/test/genroot
neon-fpu-512/inv_ntt.coeffs
neon-fpu-512/check_ntt
neon-fpu-512/test/check_ntt
neon-fpu-512/test/const-barrett-1
neon-fpu-512/test/const-barrett-2
neon-fpu-512/test/generate_root
neon-fpu-512/test/generate_root_br
neon-fpu-512/test/reduction_test
neon-fpu-512/fwd_ntt.coeff
neon-fpu-512/test/unsigned_red
neon-fpu-512/ntt.coeffs
neon-fpu-512/test/bla
*kat512fpu
*kat1024fpu
